<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.servlet.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutProfile</servlet-name>
        <servlet-class>com.servlet.LogoutProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFile</servlet-name>
        <servlet-class>com.servlet.SaveFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewfile</servlet-name>
        <servlet-class>com.servlet.Viewfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>com.servlet.DownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutProfile</servlet-name>
        <url-pattern>/LogoutProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFile</servlet-name>
        <url-pattern>/SaveFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewfile</servlet-name>
        <url-pattern>/Viewfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
</web-app>
